<?xml version="1.0"?>
<!--
@author Maciej Sławik <maciej.slawik@lizardmedia.pl>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <!--Here you can define default values for your configuration fields-->
        <sample>
            <general>
                <bool>1</bool>
                <text>Text value</text>
            </general>
        </sample>
    </default>
</config>